<!DOCTYPE html>
<html lang="es">
<head>
  <% include partials/headerStuff %>
</head>
<body>
  <% include partials/header %>

  <p>Welcome to <%= title %></p>

  <% include partials/footer %>
</body>
</html>